
body {
  background-color: #3d3d3d;
}

#ball {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 150px);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
    animation-name: glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes glow{
    0%{box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
    animation-name: glow;}
    50%{box-shadow:
    inset 0 0 50px #f0f,
    inset 20px 0 80px #0ff,
    inset -20px 0 80px #f0f,
    inset 20px 0 300px #0ff,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #0ff,
    10px 0 80px #f0f;
    animation-name: glow;}
    100%{box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
    animation-name: glow;}
}
.moveltr{
    color:white;
    opacity: .8;
    border-top: 20px solid black;
    border-bottom:  20px solid black;
    border-right: 40px solid black;
    border-left: 40px solid black;
    background-color: black;
    width: 180px;
    position: relative;
    animation-name:moveout;
    left:-500px;
    animation-duration: 4s;
    animation-fill-mode: both;
}
@keyframes moveout{
    from{left: -500px; transform: rotate(350deg);}
    to{left: calc(50% - 125px); transform: rotate(0deg);}
}
#form{
    

}